pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# clojure-lsp
.lsp
.clj-kondo
/clojure-lsp*

#Calva
output.calva-repl
**/.calva/repl.calva-repl
